__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
.python-version
pip-wheel-metadata/
*.manifest
*.spec
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
coverage.xml
.cache/
.hypothesis/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/
.ipynb_checkpoints/
logs/
*.log
*.db
*.sqlite3
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.code-workspace
.env.*
!.env.example
**/.dockerignore
*.json